<p style="color: green"><%= notice %></p>

<h1>properties</h1>

<div id="properties">
  <% @properties.each do |property|%>
    <%= render property %>
    <p>
      <%= link_to "Show this property", property %>
    </p>
  <% end %>
</div>
